* {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2 {
  font-weight: 600;
}

header {
  background-color: rgb(0, 11, 255);
  background-color: linear-gradient(90deg, rgba(0, 11, 255, 1) 0%, rgb(6, 2, 33) 100%);
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
}

.search-container {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.weather-container {
  flex: 3;
  border: 1px solid black;
  padding: 10px;
}

.forecast {
  border: 1px solid black;
}

button,
input {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 0px;
}

button {
  border: none;
  padding: 10px;
}

.city-weather {
  border: 1px solid black;
  display: block;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.forecast h3 {
  flex: 1 100%;
  padding-left: 15px;
}

.day {
  background-color: #374659;
  flex: 2;
  margin: 10px 15px;
  color: white;
  padding-left: 10px;
}

.city-weather {
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.uv-low {
  background-color: green;
  color: white;
  padding: 2px;
}
.uv-mod {
  background-color: rgb(248, 227, 0);
  color: black;
  padding: 2px;
}
.uv-high {
  background-color: orange;
  color: black;
  padding: 2px;
}
.uv-very-high {
  background-color: rgb(156, 0, 0);
  color: white;
  padding: 2px;
}
.uv-extreme {
  background-color: purple;
  color: white;
  padding: 2px;
}

.historyItem {
  background-color: rgb(205, 205, 205);
  text-align: center;
}
